:host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  all: unset;
  width: 80px;
  padding: 10px 5px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  color: white;
  &:active {
    transform: scale(1.1);
  }
}
.start {
  background-color: dodgerblue;
}
.stop {
  background-color: tomato;
}
.reset {
  background-color: yellowgreen;
}
